<h2 class="text-primary text-center">Main Component!</h2>
<h3>Привязка данных</h3>
<p> Привязка контента - {{ name }}</p>
<p [textContent]="date"></p>
<figure class="text-center">
    <img [src]="src" alt="" [style.width]="'50%'">
</figure>
<h3>Отображение массива</h3>
<ul>
    <li *ngFor="let item of data">{{ item }}</li>
</ul>

<h3>Взаимодействие с элементами формы</h3>
<input type="text" [value]="name">
<!-- для обеспечение двустронней привязки данных мы используем FormsModule -->

<!-- привязка к свойства -->
<input type="text" [(ngModel)]="name"> 

<h3>Привязка к событиям</h3>
<button (click)="hideBlock()">Скрыть блок</button>
<div [ngClass]="visible? '': 'hide'"></div>